Android.bp filter=lfs diff=lfs merge=lfs -text
config.h.meson filter=lfs diff=lfs merge=lfs -text
meson.build filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
generate-prebuilts.sh filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
meson_options.txt filter=lfs diff=lfs merge=lfs -text
perf-testing filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
prebuilt-intermediates filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
ci filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_MIT filter=lfs diff=lfs merge=lfs -text
virglrenderer.pc.in filter=lfs diff=lfs merge=lfs -text
vtest filter=lfs diff=lfs merge=lfs -text
